body { 
	font-family: 'Montserrat', sans-serif;
	font-size: 20px ;
	text-justify: center ;
	text-decoration: none ;
	background-color: #e1f5fe ;
	text-align: justify;
 }

h1 { 
	align-items: center;
	text-justify: center ;
 }

 h2 { 
 	color: white ;
 	background : #000000 ;
 	border-radius: 4px ;
 	padding: 16px 22px ; 
 	text-decoration: none ; 
 	text-justify: center;
 	align-items: center;
  }

  h3 { 
 	font-size: 25px ;
 	font-family: 'Liu Jian Mao Cao', cursive; 
   }

 .button-linkedin { 
 	color: white ;
 	background: #000000 ;
 	border-radius: 4px ;
 	padding: 16px 22px ;
 	text-decoration: none ;
  }

.card-white-title {
	text-align: center;
	background-image: url(https://cdn.pixabay.com/photo/2016/05/24/16/48/mountains-1412683_960_720.png);
	height: 80vh;
	background-position: center;
	margin: 0px;
	background-size: cover;
	padding-bottom: 0px;
	vertical-align: 30px;
}

.cards {
	display: flex;
	flex-wrap: wrap;
}

.card-white {
	flex-basis: 250px;
	flex-grow: 1;
	border-radius: 4px;
	margin: 15px 10px 10px;
	padding: 50px;
	box-shadow: 0px 10px 30px #D4D5D4;

}

.card-white-presentation {
	text-align: center;
	background-position: cover;
	background-size: cover;
	border-radius: 4px;
	margin: 15px;
	padding: 50px;
	box-shadow: 0px 10px 30px #D4D5D4;
	size: 400px;
	display: flex;
}

.card-white:hover {
	background-color: #FFEBE0;
}



.class1 {
	align-items: center;
	padding: 16px 40px;
	border-radius: 4px
	box-shadow: 0 1px 0px rgba(0,0,0,1);
				border-radius: 5px;
		width: 700px;
		margin: 40px auto;
		background-color: white ;
		padding-top: 30px;
		padding-bottom: 30px;
		text-align: center;

}

.class2 { 
	align-items: center;
	padding: 8px 20px;
	border-radius: 2px
	box-shadow: 0 1px 0px rgba(0,0,0,1);
				border-radius: 5px;
		width: 700px;
		margin: 40px auto;
		background-color: white ;
		padding-top: 10px; ;
		padding-bottom: 10px;
		text-align: center;
		font-size: 15px ;
 }

 .class3 { 
 	font-size: 25px ;
 	font-family: 'Cinzel', serif;
 	align-items: center ;
 	text-align: center;
  }
img{ 
	height: 200px
 }